@import '../../@theme/styles/themes.scss';

@include nb-install-component() {
  .chart-container {
    height: nb-theme(card-height-medium);
    max-height: nb-theme(card-height-medium);
  }

  ngx-charts-bar-vertical,
  ngx-charts-polar-chart,
  ngx-charts-bar-vertical-2d {
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);
    max-height: nb-theme(card-height-medium);

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(background-basic-color-2);
        }

        .legend-label {
          color: nb-theme(text-hint-color);

          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 1.25;
      }

      .legend-items {
        overflow-y: hidden;
      }
    }
  }
}
